<h1>Customer Login</h1>
<div class="container p-5 bg-light">
  <form name="form" (ngSubmit)="loginUser()" #f="ngForm">
    <small class="text-danger">{{msg}}</small>
     <div class="row form-group">
          <div class="col-2">
            <label for="username">PAN</label>
        </div>
        <div class="col-7">
          <input type="text" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" id="username" required #username="ngModel" class="form-control" name="Username"
            [(ngModel)]="customer.userName" placeholder="Enter customer's PAN">
          <div *ngIf="username.touched">
            <div *ngIf="username.errors && (username.invalid)">
              <small class="text-danger" *ngIf="username.errors.required">Username is required</small>
              <small class="text-danger" *ngIf="username.errors.pattern">Only pan number allowed with 10 chars</small>
            </div>
        </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-2">
        <label for="password">Password</label>
    </div>
    <div class="col-7">
        <input type="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])(?=\\S+$).{8,}$" id="password" required #password="ngModel" class="form-control" name="Password"
          [(ngModel)]="customer.password" placeholder="Enter Password">
            <div *ngIf="password.touched">
            <div *ngIf="password.errors && (password.invalid)">
              <small class="text-danger" *ngIf="password.errors.required">Password required</small>
              <!-- <small class="text-danger" *ngIf="password.errors.pattern">Only alphabets allowed with minimum 8 chars</small> -->
            </div>
        </div>
    </div>
  </div>
  <div class="row mt-3 ml-4 form-group">
    <!-- [disabled]="f.invalid" type="submit" name="submit" class="form-control" -->
    <button (click)="loginUser()" class="btn btn-primary btn-md">Submit</button>
</div>
</form>
<small class="float-right" [routerLink]="['/addcustomer']">New User ? Register here</small>
</div>


