<!DOCTYPE html>
<html lang="en">
<head>
  <title> Emart Shopping </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>

<body>

<div class="jumbotron">
  <div class="container text-center" style="margin-bottom:0;padding:0px">
    <h1> Bank Management </h1>    
    <p> Your Desires , Our Values </p>
  </div>
</div>
<ul>
    <li><a class="active" href="">Home</a></li>
    <li><a href="customer/userName" >Customer</a></li>
    <!-- <li><a href="addcustomer">Register</a></li> -->
    <li><a href="addaccount">Account</a></li>
    <li><a href="fund">Fund</a></li>
    <li><a class="active" href="login">Login</a></li>
    
</ul>  
<img src="../../assets/BankManagementSystem.png" alt="Welcome to Emart" width="100%">
</body>
</html> 



   